<!DOCTYPE html>
<html ng-app="gerenciador">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=500, user-scalable=yes">
<link rel="stylesheet" href="/resources/css/bootstrap.min.css">
<link rel="stylesheet" href="/resources/css/custom.css">
<script src="/resources/js/angular.min.js"></script>
<script src="/resources/js/clienteCtrl.js"></script>

<title>Gerenciador de senhas - PariPassu</title>
</head>
<body ng-controller="clienteCtrl" data-ng-init="verificaSeFuiChamado()">
	<div class="jumbotron">
		<div>
			<h2>{{titulo}}</h2>
		</div>
		<table class="table table-striped" ng-hide="minhaSenha.mascaraSenha == 'A0000'">
			<tr>
				<th class="text-custom">Minha senha</th>
			</tr>
			<tr>
				<td class="form-control">{{minhaSenha.mascaraSenha}}</td>
			</tr>
		</table>
		
		<div class="alert alert-danger" ng-show="message.length>0">{{message}}</div>
		<table class="table table-striped">
			<tr>
				<th class="text-custom">Senha atual</th>
			</tr>
			<tr ng-repeat="senha in senhas | limitTo:quantidade">
				<td class="form-control">{{senha.mascaraSenha}}</td>
			</tr>
		</table>
		<button class="btn btn-primary btn-block" ng-click="solicitarSenha('NORMAL')">NORMAL</button>
		<button class="btn btn-warning btn-block" ng-click="solicitarSenha('PREFERENCIAL')">PREFERENCIAL</button>
	</div>
</body>
</html>
