<!DOCTYPE html>
<html ng-app="gerenciador">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=500, user-scalable=no">
<link rel="stylesheet" href="/resources/css/bootstrap.min.css">
<link rel="stylesheet" href="/resources/css/custom.css" />
<script src="/resources/js/angular.min.js"></script>
<script src="/resources/js/gerenteCtrl.js"></script>

<title>Gerenciador de senhas - PariPassu</title>
</head>
<body ng-controller="gerenteCtrl">
	<div class="jumbotron">
		<div>
			<h2>{{titulo}}</h2>
		</div>
		<div class="alert alert-danger" ng-show="message.length>0">{{message}}</div>
		<table class="table table-striped">
			<tr>
				<th class="text-custom">Senha atual</th>
			</tr>
			<tr ng-repeat="senha in senhas | limitTo:quantidade">
				<td class="form-control">{{senha.mascaraSenha}}</td>
			</tr>
		</table>
		<button class="btn btn-success btn-block" ng-click="proximaSenha()" ng-disabled="senhas.length == 0">Próxima senha</button>
		<button class="btn btn-danger btn-block" ng-click="zerarSenhas()" ng-disabled="senhas.length == 0">Zerar senhas</button>
	</div>
</body>
</html>
