<!DOCTYPE html>
<html ng-app="navarro">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=500, user-scalable=no">
<link rel="stylesheet" href="/resources/css/bootstrap.min.css">
<link rel="stylesheet" href="/resources/css/custom.css" />
<script src="/resources/js/angular.min.js"></script>
<script type="text/javascript">
		angular.module("navarro",[]);
		angular.module("navarro").controller("navarroCtrl", function  ($scope, $http) {

			$scope.titulo = "Painel de senhas";
			$scope.senhas = [];
			$scope.quantidade = 1;
			$scope.teste = [];
			
			var intervalo = window.setInterval ( function () {
				$http.get("http://localhost:8080/gerente/todas-as-senhas").success(function (data) {
					if (!data){
						$scope.message = "Não há ninguém na fila";
						$scope.senhas = [];
					}else{
						$scope.message = "";
						$scope.senhas = data;
					}
			}).error(function (data, status) {
				$scope.message = "Aconteceu um problema: " + data;
			});
		}, 1000);

			$scope.proximaSenha = function() {
					$http.get("http://localhost:8080/gerente/proxima-senha").success(function (data) {
						if (!data){
							$scope.teste = "Não há ninguém na fila";
							$scope.teste = "";

						}else{
							$scope.teste = "";
							$scope.teste = data;
						}
				}).error(function (data, status) {
					$scope.message = "Aconteceu um problema: " + data;
				});
			}
			
			$scope.zerarSenhas = function() {
				$http.get("http://localhost:8080/gerente/zerar-contador").success(function (data) {
				$scope.message = "Painel zerado com sucesso";
			}).error(function (data, status) {
				$scope.message = "Aconteceu um problema: " + data;
			});
		}
	});	    
	</script>

<title>Angular JS @Navarro</title>
</head>
<body ng-controller="navarroCtrl">
	<div class="jumbotron">
		<div>
			<h2>{{titulo}}</h2>
		</div>
		<div class="alert alert-danger" ng-show="message.length>0">{{message}}</div>
		<table class="table table-striped">
			<tr>
				<th class="text-custom">Senha atual</th>
			</tr>
			<tr ng-repeat="senha in senhas | limitTo:quantidade">
				<td class="form-control">{{senha.mascaraSenha}}</td>
			</tr>
		</table>
		<button class="btn btn-success btn-block" ng-click="proximaSenha()" ng-disabled="senhas.length == 0">Próxima senha</button>
		<button class="btn btn-danger btn-block" ng-click="zerarSenhas()" ng-disabled="senhas.length == 0">Zerar senhas</button>
	</div>
</body>
</html>
